H1 {
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
padding: 2rem;
}
H2{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
}

body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  padding: 2rem;
  background-color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 400px 200px;
}
