html {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}

H1 {
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2rem;
letter-spacing: 0.05em;
margin: 0rem;
color: pink;
}
H2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
}
H3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-nav {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 16px 20px;
}

.nav-container-one {
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-right: 4vw;
  padding-left 4vw;
  line-height: 1.8;
}

body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-size: 1vw;
  font-style: normal;
  color: black;
  padding: 0;
  background-color: white;
}
.footer-container{
  float: right;
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-right: 4vw;
  padding-left 4vw;
  line-height: 1.8;
}

img {
padding: 0;
padding-bottom: 1rem;
}

.imgbox {
  display: grid;
  hight: 100%;
 }

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

ul {
  display: inline;
  list-style-type: none;
  line-height: 1.8;
  margin-right: 2rem;
  padding-bottom: 4rem;
}

li a{
  float: right;
  color: black;
  padding: 8px;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}
.wrapper {
  display: grid;
  max-width: 100%;
  max-height: 100vh;
  grid-template-columns: 600px 600px;
  grid-template-rows:300px 300px;
  padding: 2rem;
}
